### Import and download required libraries and data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://ibm.box.com/shared/static/svl8tu7cmod6tizo6rk0ke4sbuhtpdfx.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [5]:
concrete_data.shape

(1030, 9)

In [6]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [7]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split data into predictors and target

In [8]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength']

In [9]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [10]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## normalize

In [11]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [12]:
n_cols = predictors_norm.shape[1]

In [13]:
##import keras
import keras

In [14]:
from keras.models import Sequential
from keras.layers import Dense

### Build a neural network

- One hidden layer of 10 nodes, and a ReLU activation function
- Use the adam optimizer and the mean squared error  as the loss function.

### ADD 2 more dense (!0, activation ='relu')

In [15]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the 
train_test_split
helper function from Scikit-learn.

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

In [18]:
# build the model
model = regression_model()

# fit the model
model.fit(predictors_norm, target, epochs=50, verbose=2)

Epoch 1/50

C:\Users\Sumo\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

33/33 - 1s - 28ms/step - loss: 1559.1385
Epoch 2/50
33/33 - 0s - 2ms/step - loss: 1530.5959
Epoch 3/50
33/33 - 0s - 2ms/step - loss: 1484.5624
Epoch 4/50
33/33 - 0s - 2ms/step - loss: 1397.4524
Epoch 5/50
33/33 - 0s - 2ms/step - loss: 1229.6437
Epoch 6/50
33/33 - 0s - 1ms/step - loss: 950.1862
Epoch 7/50
33/33 - 0s - 1ms/step - loss: 606.3616
Epoch 8/50
33/33 - 0s - 2ms/step - loss: 360.1692
Epoch 9/50
33/33 - 0s - 1ms/step - loss: 274.2058
Epoch 10/50
33/33 - 0s - 1ms/step - loss: 245.6912
Epoch 11/50
33/33 - 0s - 2ms/step - loss: 227.8678
Epoch 12/50
33/33 - 0s - 2ms/step - loss: 214.4397
Epoch 13/50
33/33 - 0s - 2ms/step - loss: 203.3185
Epoch 14/50
33/33 - 0s - 2ms/step - loss: 193.1938
Epoch 15/50
33/33 - 0s - 2ms/step - loss: 185.7392
Epoch 16/50
33/33 - 0s - 1ms/step - loss: 179.4249
Epoch 17/50
33/33 - 0s - 1ms/step - loss: 174.4349
Epoch 18/50
33/33 - 0s - 2ms/step - loss: 170.1381
Epoch 19/50
33/33 - 0s - 1ms/step - loss: 166.3185
Epoch 20/50
33/33 - 0s - 1ms/step - loss: 162.7892
Epoch 21/50
33/33 - 0s - 2ms/step - loss: 158.8712
Epoch 22/50
33/33 - 0s - 1ms/step - loss: 155.8983
Epoch 23/50
33/33 - 0s - 1ms/step - loss: 153.3516
Epoch 24/50
33/33 - 0s - 2ms/step - loss: 150.4104
Epoch 25/50
33/33 - 0s - 1ms/step - loss: 147.0907
Epoch 26/50
33/33 - 0s - 2ms/step - loss: 145.0927
Epoch 27/50
33/33 - 0s - 1ms/step - loss: 143.4106
Epoch 28/50
33/33 - 0s - 1ms/step - loss: 140.7717
Epoch 29/50
33/33 - 0s - 2ms/step - loss: 138.9062
Epoch 30/50
33/33 - 0s - 1ms/step - loss: 136.2997
Epoch 31/50
33/33 - 0s - 1ms/step - loss: 134.6598
Epoch 32/50
33/33 - 0s - 2ms/step - loss: 133.2430
Epoch 33/50
33/33 - 0s - 1ms/step - loss: 131.6228
Epoch 34/50
33/33 - 0s - 1ms/step - loss: 129.7745
Epoch 35/50
33/33 - 0s - 2ms/step - loss: 128.4152
Epoch 36/50
33/33 - 0s - 1ms/step - loss: 127.0000
Epoch 37/50
33/33 - 0s - 1ms/step - loss: 125.8402
Epoch 38/50
33/33 - 0s - 2ms/step - loss: 124.4050
Epoch 39/50
33/33 - 0s - 1ms/step - loss: 123.3086
Epoch 40/50
33/33 - 0s - 2ms/step - loss: 121.6074
Epoch 41/50
33/33 - 0s - 2ms/step - loss: 120.7433
Epoch 42/50
33/33 - 0s - 1ms/step - loss: 119.6400
Epoch 43/50
33/33 - 0s - 1ms/step - loss: 118.8236
Epoch 44/50
33/33 - 0s - 1ms/step - loss: 117.7595
Epoch 45/50
33/33 - 0s - 1ms/step - loss: 117.1822
Epoch 46/50
33/33 - 0s - 1ms/step - loss: 115.6893
Epoch 47/50
33/33 - 0s - 1ms/step - loss: 114.8812
Epoch 48/50
33/33 - 0s - 2ms/step - loss: 114.1128
Epoch 49/50
33/33 - 0s - 1ms/step - loss: 113.1537
Epoch 50/50
33/33 - 0s - 2ms/step - loss: 112.4622

## Evaluate the model

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 58885200.0000
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step

59089644.0

In [20]:
#import mean sqared error function from scikit learn

from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

59089644.37527998 0.0

## List of 50 mean squared errors with report of mean and the standard deviation of the mean squared errors.

In [21]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. \n Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 336.48748779296875
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
MSE 2: 309.0621337890625
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 3: 221.0093536376953
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
MSE 4: 262.8044128417969
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 5: 226.20681762695312
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
MSE 6: 201.2198944091797
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 662us/step
MSE 7: 259.0449523925781
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 8: 189.6295166015625
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 9: 211.108154296875
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 10: 177.39483642578125
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 11: 179.871337890625
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 12: 153.025390625
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 13: 138.9585418701172
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 14: 126.57999420166016
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 15: 109.67137908935547
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 16: 105.26757049560547
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 17: 104.23235321044922
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 18: 95.72929382324219
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 19: 94.97737121582031
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 20: 112.29573822021484
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 934us/step
MSE 21: 94.13821411132812
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 832us/step
MSE 22: 95.02957153320312
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
MSE 23: 104.90508270263672
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 825us/step
MSE 24: 73.87335968017578
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 485us/step
MSE 25: 52.65267562866211
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 776us/step
MSE 26: 51.394168853759766
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 662us/step
MSE 27: 69.8270034790039
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 942us/step
MSE 28: 46.226524353027344
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 628us/step
MSE 29: 54.56149673461914
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 681us/step
MSE 30: 65.5813217163086
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 625us/step
MSE 31: 53.152278900146484
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 629us/step
MSE 32: 40.38518142700195
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 698us/step
MSE 33: 48.91469955444336
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 670us/step
MSE 34: 50.801063537597656
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
MSE 35: 44.30617141723633
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 696us/step
MSE 36: 52.826107025146484
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 785us/step
MSE 37: 59.05540084838867
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 690us/step
MSE 38: 67.38150787353516
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 728us/step
MSE 39: 53.58143615722656
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 688us/step
MSE 40: 48.14485168457031
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 762us/step
MSE 41: 55.18247985839844
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 893us/step
MSE 42: 47.55130386352539
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 834us/step
MSE 43: 54.79423904418945
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 764us/step
MSE 44: 53.1909065246582
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
MSE 45: 49.7031364440918
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 654us/step
MSE 46: 50.58460235595703
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step
MSE 47: 50.98272705078125
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 668us/step
MSE 48: 49.37448501586914
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 652us/step
MSE 49: 51.07583236694336
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 665us/step
MSE 50: 53.510986328125
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step


Mean and standard deviation of 50 mean squared errors without normalized data.
 Total number of epochs for each training is: 50

Mean: 107.14530571518043
Standard Deviation: 75.81732485073431