### Import and download required libraries and data.

In [2]:
import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('https://ibm.box.com/shared/static/svl8tu7cmod6tizo6rk0ke4sbuhtpdfx.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
concrete_data.shape

(1030, 9)

In [7]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [8]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split data into predictors and target

In [9]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength']

In [10]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## normalize

In [12]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [13]:
n_cols = predictors_norm.shape[1]

In [14]:
##import keras
import keras

In [15]:
from keras.models import Sequential
from keras.layers import Dense

### Build a neural network

- One hidden layer of 10 nodes, and a ReLU activation function
- Use the adam optimizer and the mean squared error  as the loss function.

In [16]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the 
train_test_split
helper function from Scikit-learn.

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

In [19]:
# build the model
model = regression_model()

# fit the model
model.fit(predictors_norm, target, epochs=50, verbose=2)

C:\Users\Sumo\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/50
33/33 - 1s - 19ms/step - loss: 1586.4479
Epoch 2/50
33/33 - 0s - 2ms/step - loss: 1564.1149
Epoch 3/50
33/33 - 0s - 1ms/step - loss: 1542.1359
Epoch 4/50
33/33 - 0s - 1ms/step - loss: 1519.9249
Epoch 5/50
33/33 - 0s - 1ms/step - loss: 1497.0801
Epoch 6/50
33/33 - 0s - 1ms/step - loss: 1472.9677
Epoch 7/50
33/33 - 0s - 1ms/step - loss: 1447.4576
Epoch 8/50
33/33 - 0s - 1ms/step - loss: 1420.3893
Epoch 9/50
33/33 - 0s - 1ms/step - loss: 1391.3159
Epoch 10/50
33/33 - 0s - 1ms/step - loss: 1360.1406
Epoch 11/50
33/33 - 0s - 1ms/step - loss: 1327.0065
Epoch 12/50
33/33 - 0s - 1ms/step - loss: 1291.3770
Epoch 13/50
33/33 - 0s - 1ms/step - loss: 1252.7705
Epoch 14/50
33/33 - 0s - 1ms/step - loss: 1212.3889
Epoch 15/50
33/33 - 0s - 2ms/step - loss: 1170.1650
Epoch 16/50
33/33 - 0s - 1ms/step - loss: 1126.8157
Epoch 17/50
33/33 - 0s - 1ms/step - loss: 1082.1401
Epoch 18/50
33/33 - 0s - 1ms/step - loss: 1036.4557
Epoch 19/50
33/33 - 0s - 1ms/step - loss: 990.4278
Epoch 20/50
33/33 - 0s - 1ms/step - loss: 945.0934
Epoch 21/50
33/33 - 0s - 1ms/step - loss: 900.2120
Epoch 22/50
33/33 - 0s - 1ms/step - loss: 855.4817
Epoch 23/50
33/33 - 0s - 1ms/step - loss: 811.4956
Epoch 24/50
33/33 - 0s - 1ms/step - loss: 769.1915
Epoch 25/50
33/33 - 0s - 1ms/step - loss: 728.0195
Epoch 26/50
33/33 - 0s - 1ms/step - loss: 689.2256
Epoch 27/50
33/33 - 0s - 1ms/step - loss: 651.9234
Epoch 28/50
33/33 - 0s - 1ms/step - loss: 616.2754
Epoch 29/50
33/33 - 0s - 1ms/step - loss: 582.9928
Epoch 30/50
33/33 - 0s - 1ms/step - loss: 550.8991
Epoch 31/50
33/33 - 0s - 1ms/step - loss: 520.6555
Epoch 32/50
33/33 - 0s - 1ms/step - loss: 492.7134
Epoch 33/50
33/33 - 0s - 1ms/step - loss: 465.9200
Epoch 34/50
33/33 - 0s - 1ms/step - loss: 440.5963
Epoch 35/50
33/33 - 0s - 1ms/step - loss: 416.5822
Epoch 36/50
33/33 - 0s - 1ms/step - loss: 394.1301
Epoch 37/50
33/33 - 0s - 1ms/step - loss: 373.3206
Epoch 38/50
33/33 - 0s - 2ms/step - loss: 353.6613
Epoch 39/50
33/33 - 0s - 1ms/step - loss: 335.2237
Epoch 40/50
33/33 - 0s - 1ms/step - loss: 317.9247
Epoch 41/50
33/33 - 0s - 1ms/step - loss: 301.3651
Epoch 42/50
33/33 - 0s - 1ms/step - loss: 286.5363
Epoch 43/50
33/33 - 0s - 1ms/step - loss: 272.4384
Epoch 44/50
33/33 - 0s - 1ms/step - loss: 259.7624
Epoch 45/50
33/33 - 0s - 1ms/step - loss: 247.9243
Epoch 46/50
33/33 - 0s - 1ms/step - loss: 237.6158
Epoch 47/50
33/33 - 0s - 1ms/step - loss: 228.5672
Epoch 48/50
33/33 - 0s - 1ms/step - loss: 220.4801
Epoch 49/50
33/33 - 0s - 1ms/step - loss: 213.2405
Epoch 50/50
33/33 - 0s - 1ms/step - loss: 207.0795

## Evaluate the model

In [20]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 32249208.0000
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

32635298.0

In [21]:
#import mean sqared error function from scikit learn

from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

32635299.166047364 0.0

## List of 50 mean squared errors with report of mean and the standard deviation of the mean squared errors.

In [22]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. \n Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 54607.94140625
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 727us/step
MSE 2: 26876.77734375
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
MSE 3: 9247.6552734375
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 4: 4213.20166015625
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 654us/step
MSE 5: 1250.15185546875
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
MSE 6: 430.74176025390625
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
MSE 7: 150.479248046875
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 668us/step
MSE 8: 121.17701721191406
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 9: 126.84748840332031
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step
MSE 10: 117.19035339355469
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 75us/step
MSE 11: 103.31344604492188
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 12: 102.38562774658203
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 665us/step
MSE 13: 114.84606170654297
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 14: 118.31515502929688
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 613us/step
MSE 15: 127.31792449951172
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 665us/step
MSE 16: 120.05590057373047
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 719us/step
MSE 17: 138.49436950683594
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 667us/step
MSE 18: 107.26570129394531
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 19: 94.93338775634766
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 20: 118.0267333984375
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 605us/step
MSE 21: 138.41140747070312
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 22: 103.51978302001953
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 23: 113.6221923828125
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 24: 120.78300476074219
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 25: 108.81937408447266
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 26: 100.02389526367188
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 27: 122.03357696533203
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
MSE 28: 121.85213470458984
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 679us/step
MSE 29: 145.87075805664062
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 30: 152.4239044189453
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 31: 134.87184143066406
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 32: 106.5721206665039
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 689us/step
MSE 33: 102.52501678466797
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 659us/step
MSE 34: 113.8398208618164
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 35: 115.53569793701172
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 36: 232.31591796875
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 663us/step
MSE 37: 125.50381469726562
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 251us/step
MSE 38: 135.3520050048828
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 665us/step
MSE 39: 109.36028289794922
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step
MSE 40: 129.4186553955078
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step
MSE 41: 146.1324462890625
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 717us/step
MSE 42: 119.75203704833984
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
MSE 43: 110.94989013671875
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 629us/step
MSE 44: 113.8408203125
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 567us/step
MSE 45: 115.29554748535156
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 46: 113.75211334228516
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 668us/step
MSE 47: 110.67855072021484
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step
MSE 48: 113.74368286132812
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 681us/step
MSE 49: 102.83494567871094
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MSE 50: 109.41596984863281
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 665us/step


Mean and standard deviation of 50 mean squared errors without normalized data.
 Total number of epochs for each training is: 50

Mean: 2039.5234000842518
Standard Deviation: 8487.75067470276