### Import and download required libraries and data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://ibm.box.com/shared/static/svl8tu7cmod6tizo6rk0ke4sbuhtpdfx.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split data into predictors and target

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength']

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1]

In [11]:
##import keras
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [13]:
from keras.models import Sequential
from keras.layers import Dense

### Build a neural network

- One hidden layer of 10 nodes, and a ReLU activation function
- Use the adam optimizer and the mean squared error  as the loss function.

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the 
train_test_split
helper function from Scikit-learn.

In [15]:
from sklearn.model_selection import train_test_split

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [16]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

In [17]:
# build the model
model = regression_model()

# fit the model
model.fit(predictors, target, epochs=50, verbose=2)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/50

2024-05-03 01:55:38.481866: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2024-05-03 01:55:38.488207: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2494030000 Hz
2024-05-03 01:55:38.488882: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55aa83c6f450 executing computations on platform Host. Devices:
2024-05-03 01:55:38.488937: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2024-05-03 01:55:38.564806: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

 - 0s - loss: 65219.6191
Epoch 2/50
 - 0s - loss: 17696.3589
Epoch 3/50
 - 0s - loss: 5086.6736
Epoch 4/50
 - 0s - loss: 4156.0708
Epoch 5/50
 - 0s - loss: 3308.7011
Epoch 6/50
 - 0s - loss: 2022.7518
Epoch 7/50
 - 0s - loss: 1170.8668
Epoch 8/50
 - 0s - loss: 771.6239
Epoch 9/50
 - 0s - loss: 542.7010
Epoch 10/50
 - 0s - loss: 405.7788
Epoch 11/50
 - 0s - loss: 320.5875
Epoch 12/50
 - 0s - loss: 265.1421
Epoch 13/50
 - 0s - loss: 225.3198
Epoch 14/50
 - 0s - loss: 196.7821
Epoch 15/50
 - 0s - loss: 178.0885
Epoch 16/50
 - 0s - loss: 163.4505
Epoch 17/50
 - 0s - loss: 149.3124
Epoch 18/50
 - 0s - loss: 140.7261
Epoch 19/50
 - 0s - loss: 133.8789
Epoch 20/50
 - 0s - loss: 131.7648
Epoch 21/50
 - 0s - loss: 127.7227
Epoch 22/50
 - 0s - loss: 122.8090
Epoch 23/50
 - 0s - loss: 121.1609
Epoch 24/50
 - 0s - loss: 118.7280
Epoch 25/50
 - 0s - loss: 113.9145
Epoch 26/50
 - 0s - loss: 115.7200
Epoch 27/50
 - 0s - loss: 114.2389
Epoch 28/50
 - 0s - loss: 115.4578
Epoch 29/50
 - 0s - loss: 111.0922
Epoch 30/50
 - 0s - loss: 113.6355
Epoch 31/50
 - 0s - loss: 112.3784
Epoch 32/50
 - 0s - loss: 117.0992
Epoch 33/50
 - 0s - loss: 113.9676
Epoch 34/50
 - 0s - loss: 111.1921
Epoch 35/50
 - 0s - loss: 114.4453
Epoch 36/50
 - 0s - loss: 110.6809
Epoch 37/50
 - 0s - loss: 110.7001
Epoch 38/50
 - 0s - loss: 109.6946
Epoch 39/50
 - 0s - loss: 110.3229
Epoch 40/50
 - 0s - loss: 109.6027
Epoch 41/50
 - 0s - loss: 115.3360
Epoch 42/50
 - 0s - loss: 110.7581
Epoch 43/50
 - 0s - loss: 110.3189
Epoch 44/50
 - 0s - loss: 113.4241
Epoch 45/50
 - 0s - loss: 110.5431
Epoch 46/50
 - 0s - loss: 109.6680
Epoch 47/50
 - 0s - loss: 109.5359
Epoch 48/50
 - 0s - loss: 111.8875
Epoch 49/50
 - 0s - loss: 108.4855
Epoch 50/50
 - 0s - loss: 109.2009

## Evaluate the model

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 99us/step

106.28801672975608

In [19]:
#import mean sqared error function from scikit learn

from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

106.28803420083926 0.0

## List of 50 mean squared errors with report of mean and the standard deviation of the mean squared errors.

In [20]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. \n Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 93.3109367765655
MSE 2: 122.5164391477517
MSE 3: 107.40350835608818
MSE 4: 120.22481620813265
MSE 5: 110.87184513425365
MSE 6: 94.37501427116517
MSE 7: 88.08513263591284
MSE 8: 68.72898414142695
MSE 9: 68.57793199360178
MSE 10: 60.89891111503527
MSE 11: 51.59409302646674
MSE 12: 49.27144301824971
MSE 13: 55.09752288373929
MSE 14: 62.262774322411005
MSE 15: 52.90712497303787
MSE 16: 45.67578345980845
MSE 17: 52.99909146009526
MSE 18: 52.93023239678935
MSE 19: 45.92006870998148
MSE 20: 62.74734325470662
MSE 21: 44.66689433866334
MSE 22: 56.49477738315619
MSE 23: 47.46531422932943
MSE 24: 47.54279445907444
MSE 25: 62.20700375702003
MSE 26: 53.46918319652767
MSE 27: 50.328511185630624
MSE 28: 46.05178576225602
MSE 29: 53.296601687434425
MSE 30: 49.57285192792084
MSE 31: 54.167383360631256
MSE 32: 54.39619330989505
MSE 33: 48.2184610706317
MSE 34: 63.28400063128919
MSE 35: 49.71321066452076
MSE 36: 65.58200360887645
MSE 37: 61.46762113355124
MSE 38: 56.69861020085109
MSE 39: 56.37590497211345
MSE 40: 48.43346585270656
MSE 41: 53.31432998064652
MSE 42: 47.509703120753215
MSE 43: 55.17491899261969
MSE 44: 61.205662353910675
MSE 45: 52.284117911625835
MSE 46: 54.27763280282129
MSE 47: 53.00135805691716
MSE 48: 49.158956385739025
MSE 49: 49.396914658037204
MSE 50: 53.46193475322045


Mean and standard deviation of 50 mean squared errors without normalized data.
 Total number of epochs for each training is: 50

Mean: 61.29234332828983
Standard Deviation: 19.23174919275818